:root {
    --background-color: rgb(18, 18, 18);
    --text-green: rgb(101, 213, 110);
    --text-black: rgb(18, 18, 18);
    --text-gray: rgb(179, 179, 179);
    --input-green: rgba(99, 209, 108, 0.806);
    --input-gray: rgb(179, 179, 179);
    --card-gray: rgb(35, 35, 35);
}

body {
    background: linear-gradient(to bottom, rgb(18, 18, 18), rgb(35, 35, 35));
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 125vh;
}

#title {
    color: var(--text-green);
    font-family: 'Bungee Inline';
    font-size: 7rem;
    margin-bottom: 0%;
    text-align: center;
}

#subtitle {
    color: var(--text-green);
    font-family: 'MuseoModerno';
    font-size: 3rem;
    margin-top: 0%;
    text-align: center;
}