:root {
    --background-color: rgb(18, 18, 18);
    --text-green: rgb(101, 213, 110);
    --text-black: rgb(18, 18, 18);
    --text-gray: rgb(179, 179, 179);
    --input-green: rgba(99, 209, 108, 0.806);
    --input-gray: rgb(179, 179, 179);
    --card-gray: rgba(108, 106, 106, 0.74);
}

body {
    background: linear-gradient(to bottom, rgb(18, 18, 18), rgb(35, 35, 35));
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

/* TITLE */
#title {
    color: var(--text-green);
    font-family: 'Bungee Inline';
    font-size: 7rem;
    margin-bottom: 0%;
    text-align: center;
}

#subtitle {
    color: var(--text-green);
    font-family: 'MuseoModerno';
    font-size: 3rem;
    margin-top: 0%;
    text-align: center;
}

/* TITLE w NAV / BUTTONS */
.header-nav-container {
    display: inline-flex;
    justify-content: space-between;
    width: 90%;
    align-items: center;
    margin-left: 5%;
    margin-right: 5%;
}

.titles-container {
    display: block;
    text-align: left;
}

#sm-title {
    color: var(--text-green);
    font-family: 'Bungee Inline';
    font-size: 3rem;
    margin-bottom: 0%;
}

#sm-subtitle {
    color: var(--text-green);
    font-family: 'MuseoModerno';
    font-size: 1.5rem;
    margin-top: 0%;
}

#home {
    background-color: var(--input-green);
    border-style: none;
    border-radius: 5px;
    color: var(--text-black);
    font-size: 1rem;
    font-family: 'MuseoModerno';
    height: 10%;
    padding-left: 20%;
    padding-right: 20%;
}

/* LOGIN / SIGN-UP / BUTTONS */
.login-signup-container {
    align-items: center;
    display: block;
    justify-content: center;
    text-align: center;
}

.h3-title {
    color: var(--text-green);
    font-family: 'MuseoModerno';
    font-size: 2rem;
    margin-bottom: 2%;
    text-align: center;
}

#username-input,
#email-input,
#pass-input {
    background-color: var(--input-gray);
    border-style: none;
    border-radius: 5px;
    color: var(--text-black);
    font-size: 1.5rem;
    font-family: 'MuseoModerno';
    padding: 1.5%;
    margin-bottom: 2%;
    width: 40%;
}

.btn-container {
    align-items: center;
    display: block;
    text-align: center;
}

#login,
#sign-up {
    background-color: var(--input-green);
    border-style: none;
    border-radius: 5px;
    color: var(--text-black);
    font-size: 1.5rem;
    font-family: 'MuseoModerno';
    padding: 1%;
    margin-bottom: 1%;
    width: 20%;
}

/* HOME */
#welcome-msg {
    color: var(--text-green);
    font-family: 'MuseoModerno';
    font-size: 2rem;
    margin-bottom: 2%;
    text-align: center;
}

#view-playlists,
#gen-playlist {
    background-color: var(--input-green);
    border-style: none;
    border-radius: 5px;
    color: var(--text-black);
    font-size: 1.5rem;
    font-family: 'MuseoModerno';
    padding: 1%;
    margin-bottom: 2%;
    width: 50%;
}

#unlink-spotify-btn {
    background-color: none;
    border-style: none;
    border-radius: 5px;
    color: var(--text-black);
    font-size: 1rem;
    font-family: 'MuseoModerno';
    padding: 1%;
    margin-bottom: 2%;
    width: 30%;
}

/* VIEW PLAYLISTS */
.view-playlist-page {
    text-align: center;
}

.genify-playlists-container {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    width: 70%;
}

.playlist-item {
    display: inline-flex;
    align-items: center;
    background-color: var(--card-gray);
    border-style: none;
    border-radius: 5px;
    color: var(--text-black);
    font-size: 1rem;
    font-family: 'MuseoModerno';
    margin-bottom: 3%;
    width: 100%;
}

.playlist-name {
    color: var(--text-gray);
    margin-left: 3%;
}

.playlist-img {
    padding: 2%;
    margin-left: 1%;
    width: 10%;
}

/* SELECT GENRE */
.select-genre-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-left: 5%;
    margin-right: 8%;
}

#genres-container {
    display: inline-flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 0%;
}

.genre-option {
    background-color: var(--input-gray);
    border-style: none;
    border-radius: 5px;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: .5%;
    padding-bottom: .5%;
    margin-right: 1%;
}

.selected {
    background-color: var(--input-green);
}

/* SELECT ARTIST */
.select-artists-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-left: 5%;
    margin-right: 8%;
}

#artists-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 0%;
}

.artist-option {
    background-color: var(--input-gray);
    border-style: none;
    border-radius: 5px;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: .5%;
    padding-bottom: .5%;
    margin-right: 1%;
}

#include-artist-btn {
    background-color: var(--input-green);
    border-style: none;
    border-radius: 5px;
    color: var(--text-black);
    font-size: 1rem;
    font-family: 'MuseoModerno';
    padding-left: 2%;
    padding-right: 2%;
    margin-bottom: 2%;
    margin-left: .5%;
    margin-right: .5%;
}

#selected-artists-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 0%;
    text-align: center;
    justify-content: center;
    align-items: center;
}


#h4-selected-artists {
    color: var(--text-gray);
    font-family: 'MuseoModerno';
    font-size: 1.2rem;
    margin-bottom: 2%;
    margin-top: 0%;
    text-align: center;
}

.included-artist {
    background-color: var(--input-gray);
    border-style: none;
    border-radius: 5px;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: .5%;
    padding-bottom: .5%;
    margin-right: 1%;
    width: 100%;
}

.selected {
    background-color: var(--input-green);
}

/* SONG COUNT */
#range {
    width: 30%;
}

#song-count {
    color: var(--text-gray);
    font-family: 'MuseoModerno';
    font-size: 1.5rem;
    margin-bottom: 2%;
    margin-top: 0%;
    text-align: center;
}

/* NAME PLAYLIST */
.select-name-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-left: 5%;
    margin-right: 8%;
}

#enter-name {
    background-color: var(--input-gray);
    border-style: none;
    border-radius: 5px;
    color: var(--text-black);
    font-size: 1.2rem;
    font-family: 'MuseoModerno';
    padding: .5%;
    margin-bottom: 2%;
    width: 30%;
}

#playlist-name {
    color: var(--text-gray);
    font-family: 'MuseoModerno';
    font-size: 1.5rem;
    margin-bottom: 2%;
    margin-top: 0%;
    text-align: center;
}

#name-btn-container {
    display: block;
    justify-content: center;
    text-align: center;
    width: 100%;
}

#add-name-btn,
#random-name-btn {
    background-color: var(--input-green);
    border-style: none;
    border-radius: 5px;
    color: var(--text-black);
    font-size: 1rem;
    font-family: 'MuseoModerno';
    padding-left: 2%;
    padding-right: 2%;
    margin-bottom: 2%;
    margin-left: .5%;
    margin-right: .5%;
}

/* GENERATE PLAYLIST */
.generate-playlist-page {
    text-align: center;
}

.playlists-container {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    width: 70%;
}

.generated-playlist {
    display: inline-flex;
    align-items: center;
    background-color: var(--card-gray);
    border-style: none;
    border-radius: 5px;
    color: var(--text-black);
    font-size: 1rem;
    font-family: 'MuseoModerno';
    margin-bottom: 0%;
}

#loading,
.p-title {
    color: var(--text-gray);
    font-family: 'MuseoModerno';
    font-size: 1.5rem;
    margin-bottom: 2%;
    margin-top: 0%;
    text-align: center;
}

#link-to-spotify-btn {
    background-color: var(--input-green);
    border-style: none;
    border-radius: 5px;
    color: var(--text-black);
    font-size: 1rem;
    font-family: 'MuseoModerno';
    padding-left: 2%;
    padding-right: 2%;
    margin-bottom: 2%;
    margin-left: .5%;
    margin-right: .5%;
}

/* CREATE PLAYLIST */
.create-playlist-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-top: 15%;
}

#link-spotify-container {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: 2%;
}

.instructions {
    color: var(--text-gray);
    font-family: 'MuseoModerno';
    font-size: 1.2rem;
    margin-bottom: 2%;
    margin-top: 0%;
    text-align: center;
    width: 70%;
}

.genres-container {
    background-color: var(--card-gray);
    border-style: none;
    border-radius: 5px;
    color: var(--text-black);
    font-size: 1rem;
    font-family: 'MuseoModerno';
    padding: 1.5%;
    margin-bottom: 2%;
    width: 30%;
}

.gen-btn-container {
    display: block;
    justify-content: center;
    text-align: center;
    width: 96.5%;
}

#back-btn,
#next-btn {
    background-color: var(--input-green);
    border-style: none;
    border-radius: 5px;
    color: var(--text-black);
    font-size: 1rem;
    font-family: 'MuseoModerno';
    padding-left: 2%;
    padding-right: 2%;
    margin-bottom: 2%;
    margin-left: .5%;
    margin-right: .5%;
}

/* CONTACT */
#contact-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}

#contact-info {
    background-color: var(--card-gray);
    border-style: none;
    border-radius: 5px;
    color: var(--text-black);
    font-size: 1rem;
    font-family: 'MuseoModerno';
    padding: 1.5%;
    margin-bottom: 2%;
    width: 30%;
}

#a-2 {
    color: var(--text-black);
    text-decoration: none;
}

/* FOOTER */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 27%;
}

#footer-option {
    border-bottom: 2px solid var(--text-gray);
    color: var(--text-gray);
    font-family: 'MuseoModerno';
    text-align: center;
}