:root {
    --background-color: rgb(18, 18, 18);
    --text-green: rgb(101, 213, 110);
    --text-black: rgb(18, 18, 18);
    --text-gray: rgb(179, 179, 179);
    --input-green: rgba(99, 209, 108, 0.806);
    --input-gray: rgb(179, 179, 179);
    --card-gray: rgba(108, 106, 106, 0.74);
}

body {
    background: linear-gradient(to bottom, rgb(18, 18, 18), rgb(35, 35, 35));
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

/* TITLE */
#title {
    color: var(--text-green);
    font-family: 'Bungee Inline';
    font-size: 7rem;
    margin-bottom: 0%;
    text-align: center;
}

#subtitle {
    color: var(--text-green);
    font-family: 'MuseoModerno';
    font-size: 3rem;
    margin-top: 0%;
    text-align: center;
}

/* TITLE w NAV / BUTTONS */
.header-nav-container {
    display: inline-flex;
    justify-content: space-between;
    width: 90%;
    align-items: center;
    margin-left: 5%;
    margin-right: 5%;
}

.titles-container {
    display: block;
    text-align: left;
}

#sm-title {
    color: var(--text-green);
    font-family: 'Bungee Inline';
    font-size: 3rem;
    margin-bottom: 0%;
}

#sm-subtitle {
    color: var(--text-green);
    font-family: 'MuseoModerno';
    font-size: 1.5rem;
    margin-top: 0%;
}

#home {
    background-color: var(--input-green);
    border-style: none;
    border-radius: 5px;
    color: var(--text-black);
    font-size: 1rem;
    font-family: 'MuseoModerno';
    height: 10%;
    padding-left: 20%;
    padding-right: 20%;
}

/* LOGIN / SIGN-UP / BUTTONS */
.login-signup-container {
    align-items: center;
    display: block;
    justify-content: center;
    text-align: center;
}

.h3-title {
    color: var(--text-green);
    font-family: 'MuseoModerno';
    font-size: 2rem;
    margin-bottom: 2%;
    text-align: center;
}

#username-input,
#email-input,
#pass-input {
    background-color: var(--input-gray);
    border-style: none;
    border-radius: 5px;
    color: var(--text-black);
    font-size: 1.5rem;
    font-family: 'MuseoModerno';
    padding: 1.5%;
    margin-bottom: 2%;
    width: 40%;
}

.btn-container {
    align-items: center;
    display: block;
    text-align: center;
}

#login,
#sign-up {
    background-color: var(--input-green);
    border-style: none;
    border-radius: 5px;
    color: var(--text-black);
    font-size: 1.5rem;
    font-family: 'MuseoModerno';
    padding: 1%;
    margin-bottom: 1%;
    width: 20%;
}

/* PROFILE */
#welcome-msg {
    color: var(--text-green);
    font-family: 'MuseoModerno';
    font-size: 2rem;
    margin-bottom: 2%;
    text-align: center;
}


#view-playlists,
#gen-playlist {
    background-color: var(--input-green);
    border-style: none;
    border-radius: 5px;
    color: var(--text-black);
    font-size: 1.5rem;
    font-family: 'MuseoModerno';
    padding: 1%;
    margin-bottom: 2%;
    width: 50%;
}

/* CREATE PLAYLIST */
.create-playlist-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}

#link-spotify-container {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: 2%;
}

#h4-title {
    color: var(--text-green);
    font-family: 'MuseoModerno';
    font-size: 1.5rem;
    margin-bottom: 2%;
    margin-top: 0%;
    text-align: center;
}

.genres-container {
    background-color: var(--card-gray);
    border-style: none;
    border-radius: 5px;
    color: var(--text-black);
    font-size: 1rem;
    font-family: 'MuseoModerno';
    padding: 1.5%;
    margin-bottom: 2%;
    width: 30%;
}

.gen-btn-container {
    display: block;
    justify-content: center;
    text-align: center;
}

#back-btn,
#next-btn {
    background-color: var(--input-green);
    border-style: none;
    border-radius: 5px;
    color: var(--text-black);
    font-size: 1rem;
    font-family: 'MuseoModerno';
    padding-left: 2%;
    padding-right: 2%;
    margin-bottom: 2%;
    margin-left: .5%;
    margin-right: .5%;
}

/* CONTACT */
#contact-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}

#contact-info {
    background-color: var(--card-gray);
    border-style: none;
    border-radius: 5px;
    color: var(--text-black);
    font-size: 1rem;
    font-family: 'MuseoModerno';
    padding: 1.5%;
    margin-bottom: 2%;
    width: 30%;
}

#a-2 {
    color: var(--text-black);
    text-decoration: none;
}

/* FOOTER */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#footer-option {
    border-bottom: 2px solid var(--text-gray);
    color: var(--text-gray);
    font-family: 'MuseoModerno';
    text-align: center;
}